In [35]:
import pandas as pd
data_df = pd.read_csv('all_data_drop_na.csv')

In [36]:
data_df

,Unnamed: 0,filename,center_x,center_y,width,height,angle,occupied,x_max,x_min,y_max,y_min
0,0,2012-09-11_15_16_58_1,300,207,55,32,-74,1.0,324,278,230,185
1,1,2012-09-11_15_16_58_2,332,209,56,33,-77,0.0,355,310,233,185
2,2,2012-09-11_15_16_58_3,366,208,52,32,-77,1.0,388,345,233,185
3,3,2012-09-11_15_16_58_4,398,207,54,36,-79,0.0,421,375,232,184
4,4,2012-09-11_15_16_58_5,430,210,50,31,-75,1.0,452,409,232,187
...,...,...,...,...,...,...,...,...,...,...,...,...
694123,719523,2013-04-16_10_50_05_36,817,62,41,78,-88,1.0,857,778,84,43
694124,719524,2013-04-16_10_50_05_37,776,31,41,88,-88,1.0,821,732,53,12
694125,719525,2013-04-16_10_50_05_38,1152,118,58,69,0,1.0,1182,1123,91,149
694126,719526,2013-04-16_10_50_05_39,1087,84,61,57,0,1.0,1118,1057,57,105
694127,719527,2013-04-16_10_50_05_40,1031,57,55,58,-83,1.0,1064,1000,88,33

In [37]:
len(data_df)

694128

In [39]:
print(data_df.iloc[0,8])
print(data_df.iloc[0,9])
print(data_df.iloc[0,10])
print(data_df.iloc[0,11])

324
278
230
185

In [40]:
cnt = 0
for i in range(len(data_df)):
    data =  data_df.iloc[i]
    x_max = data.x_max.copy()
    x_min = data.x_min.copy()
    y_max = data.y_max.copy()
    y_min = data.y_min.copy()
    if data.x_max < data.x_min:
        data_df.iloc[i,8] = x_min
        data_df.iloc[i,9] = x_max
        cnt += 0.5
    if data.y_max < data.y_min:
        data_df.iloc[i,10] = y_min
        data_df.iloc[i,11] = y_max
        cnt += 0.5
print(cnt)

40494.0

In [41]:
data_df

,Unnamed: 0,filename,center_x,center_y,width,height,angle,occupied,x_max,x_min,y_max,y_min
0,0,2012-09-11_15_16_58_1,300,207,55,32,-74,1.0,324,278,230,185
1,1,2012-09-11_15_16_58_2,332,209,56,33,-77,0.0,355,310,233,185
2,2,2012-09-11_15_16_58_3,366,208,52,32,-77,1.0,388,345,233,185
3,3,2012-09-11_15_16_58_4,398,207,54,36,-79,0.0,421,375,232,184
4,4,2012-09-11_15_16_58_5,430,210,50,31,-75,1.0,452,409,232,187
...,...,...,...,...,...,...,...,...,...,...,...,...
694123,719523,2013-04-16_10_50_05_36,817,62,41,78,-88,1.0,857,778,84,43
694124,719524,2013-04-16_10_50_05_37,776,31,41,88,-88,1.0,821,732,53,12
694125,719525,2013-04-16_10_50_05_38,1152,118,58,69,0,1.0,1182,1123,149,91
694126,719526,2013-04-16_10_50_05_39,1087,84,61,57,0,1.0,1118,1057,105,57
694127,719527,2013-04-16_10_50_05_40,1031,57,55,58,-83,1.0,1064,1000,88,33

In [42]:
data_df.drop(['Unnamed: 0'],axis=1,inplace=True)

In [43]:
data_df

,filename,center_x,center_y,width,height,angle,occupied,x_max,x_min,y_max,y_min
0,2012-09-11_15_16_58_1,300,207,55,32,-74,1.0,324,278,230,185
1,2012-09-11_15_16_58_2,332,209,56,33,-77,0.0,355,310,233,185
2,2012-09-11_15_16_58_3,366,208,52,32,-77,1.0,388,345,233,185
3,2012-09-11_15_16_58_4,398,207,54,36,-79,0.0,421,375,232,184
4,2012-09-11_15_16_58_5,430,210,50,31,-75,1.0,452,409,232,187
...,...,...,...,...,...,...,...,...,...,...,...
694123,2013-04-16_10_50_05_36,817,62,41,78,-88,1.0,857,778,84,43
694124,2013-04-16_10_50_05_37,776,31,41,88,-88,1.0,821,732,53,12
694125,2013-04-16_10_50_05_38,1152,118,58,69,0,1.0,1182,1123,149,91
694126,2013-04-16_10_50_05_39,1087,84,61,57,0,1.0,1118,1057,105,57
694127,2013-04-16_10_50_05_40,1031,57,55,58,-83,1.0,1064,1000,88,33

In [44]:
data_df.to_csv("modi_xml.csv")

In [45]:
data_df['occupied'].value_counts()

0.0    358742
1.0    335386
Name: occupied, dtype: int64